<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Расчет букв в тексте</title>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <style>
        .h-textarea-vh {
            height: 60vh;
        }
    </style>
  </head>
  <body class="bg-body-tertiary">
    <div class="container">{% block content %}{% endblock %}</div>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>
